.Footer{
    width: 100vw;
    height: 80px;
    font-weight: bolder;
    padding: 30px;
    box-sizing: border-box;
    background-color: aquamarine;
    color: black;
}
.phones{
padding: 2px;
 background-color: aquamarine;
 border-radius: 10px;
 text-decoration: none;
}